In [3]:
# import necessary packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# load the data
df = pd.read_csv('data/Uber Request Data.csv')

In [12]:
# see how many rows and columns the data has
df.shape

(6745, 6)

In [23]:
# see how the data looks like
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,request_time,drop_time
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00,2016-07-11 11:51:00,2016-07-11 13:00:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47,2016-07-11 17:57:00,2016-07-11 18:47:00
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58,2016-07-12 09:17:00,2016-07-12 09:58:00
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03,2016-07-12 21:08:00,2016-07-12 22:03:00
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47,2016-07-13 08:33:16,2016-07-13 09:25:47

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
Request id           6745 non-null int64
Pickup point         6745 non-null object
Driver id            4095 non-null float64
Status               6745 non-null object
Request timestamp    6745 non-null object
Drop timestamp       2831 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.2+ KB

In [18]:
# We need to convert timestamp columns to pandas timestamp 
df['request_time'] = pd.to_datetime(df['Request timestamp'], dayfirst=True)

In [22]:
df['drop_time'] = pd.to_datetime(df['Drop timestamp'], dayfirst=True)

In [36]:
df.loc[:,'day'] = pd.DatetimeIndex(df['request_time']).day
df.loc[:,'dayofweek'] = pd.DatetimeIndex(df['request_time']).dayofweek

In [41]:
df.drop(['day', 'dayofweek'], axis = 1, inplace=True)

In [43]:
df

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,request_time,drop_time
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00,2016-07-11 11:51:00,2016-07-11 13:00:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47,2016-07-11 17:57:00,2016-07-11 18:47:00
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58,2016-07-12 09:17:00,2016-07-12 09:58:00
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03,2016-07-12 21:08:00,2016-07-12 22:03:00
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47,2016-07-13 08:33:16,2016-07-13 09:25:47
5,3879,Airport,1.0,Trip Completed,13-07-2016 21:57:28,13-07-2016 22:28:59,2016-07-13 21:57:28,2016-07-13 22:28:59
6,4270,Airport,1.0,Trip Completed,14-07-2016 06:15:32,14-07-2016 07:13:15,2016-07-14 06:15:32,2016-07-14 07:13:15
7,5510,Airport,1.0,Trip Completed,15-07-2016 05:11:52,15-07-2016 06:07:52,2016-07-15 05:11:52,2016-07-15 06:07:52
8,6248,City,1.0,Trip Completed,15-07-2016 17:57:27,15-07-2016 18:50:51,2016-07-15 17:57:27,2016-07-15 18:50:51
9,267,City,2.0,Trip Completed,11/7/2016 6:46,11/7/2016 7:25,2016-07-11 06:46:00,2016-07-11 07:25:00
10,1467,Airport,2.0,Trip Completed,12/7/2016 5:08,12/7/2016 6:02,2016-07-12 05:08:00,2016-07-12 06:02:00
11,1983,City,2.0,Trip Completed,12/7/2016 12:30,12/7/2016 12:57,2016-07-12 12:30:00,2016-07-12 12:57:00
12,2784,Airport,2.0,Trip Completed,13-07-2016 04:49:20,13-07-2016 05:23:03,2016-07-13 04:49:20,2016-07-13 05:23:03
13,3075,City,2.0,Trip Completed,13-07-2016 08:02:53,13-07-2016 09:16:19,2016-07-13 08:02:53,2016-07-13 09:16:19
14,3379,City,2.0,Trip Completed,13-07-2016 14:23:02,13-07-2016 15:35:18,2016-07-13 14:23:02,2016-07-13 15:35:18
15,3482,Airport,2.0,Trip Completed,13-07-2016 17:23:18,13-07-2016 18:20:51,2016-07-13 17:23:18,2016-07-13 18:20:51
16,4652,City,2.0,Trip Completed,14-07-2016 12:01:02,14-07-2016 12:36:46,2016-07-14 12:01:02,2016-07-14 12:36:46
17,5335,Airport,2.0,Trip Completed,14-07-2016 22:24:13,14-07-2016 23:18:52,2016-07-14 22:24:13,2016-07-14 23:18:52
18,535,Airport,3.0,Trip Completed,11/7/2016 10:00,11/7/2016 10:31,2016-07-11 10:00:00,2016-07-11 10:31:00
19,960,Airport,3.0,Trip Completed,11/7/2016 18:45,11/7/2016 19:23,2016-07-11 18:45:00,2016-07-11 19:23:00
20,1934,Airport,3.0,Trip Completed,12/7/2016 11:17,12/7/2016 12:23,2016-07-12 11:17:00,2016-07-12 12:23:00
21,2083,Airport,3.0,Trip Completed,12/7/2016 15:46,12/7/2016 16:40,2016-07-12 15:46:00,2016-07-12 16:40:00
22,2211,Airport,3.0,Trip Completed,12/7/2016 18:00,12/7/2016 18:28,2016-07-12 18:00:00,2016-07-12 18:28:00
23,3096,Airport,3.0,Trip Completed,13-07-2016 08:17:29,13-07-2016 09:22:37,2016-07-13 08:17:29,2016-07-13 09:22:37
24,3881,Airport,3.0,Trip Completed,13-07-2016 21:54:18,13-07-2016 22:51:23,2016-07-13 21:54:18,2016-07-13 22:51:23
25,5254,City,3.0,Trip Completed,14-07-2016 21:23:03,14-07-2016 22:25:19,2016-07-14 21:23:03,2016-07-14 22:25:19
26,5434,City,3.0,Trip Completed,15-07-2016 02:41:38,15-07-2016 03:24:43,2016-07-15 02:41:38,2016-07-15 03:24:43
27,5916,City,3.0,Trip Completed,15-07-2016 10:00:43,15-07-2016 10:53:06,2016-07-15 10:00:43,2016-07-15 10:53:06
28,669,City,4.0,Trip Completed,11/7/2016 13:08,11/7/2016 13:49,2016-07-11 13:08:00,2016-07-11 13:49:00
29,1567,Airport,4.0,Trip Completed,12/7/2016 6:21,12/7/2016 7:10,2016-07-12 06:21:00,2016-07-12 07:10:00
...,...,...,...,...,...,...,...,...
6715,6683,City,NaN,No Cars Available,15-07-2016 22:34:01,NaN,2016-07-15 22:34:01,NaT
6716,6686,Airport,NaN,No Cars Available,15-07-2016 22:36:13,NaN,2016-07-15 22:36:13,NaT
6717,6688,Airport,NaN,No Cars Available,15-07-2016 22:37:37,NaN,2016-07-15 22:37:37,NaT
6718,6689,Airport,NaN,No Cars Available,15-07-2016 22:43:46,NaN,2016-07-15 22:43:46,NaT
6719,6693,City,NaN,No Cars Available,15-07-2016 22:49:33,NaN,2016-07-15 22:49:33,NaT
6720,6696,City,NaN,No Cars Available,15-07-2016 22:49:45,NaN,2016-07-15 22:49:45,NaT
6721,6697,Airport,NaN,No Cars Available,15-07-2016 22:51:18,NaN,2016-07-15 22:51:18,NaT
6722,6709,Airport,NaN,No Cars Available,15-07-2016 22:56:00,NaN,2016-07-15 22:56:00,NaT
6723,6706,Airport,NaN,No Cars Available,15-07-2016 22:58:15,NaN,2016-07-15 22:58:15,NaT
6724,6708,City,NaN,No Cars Available,15-07-2016 23:03:23,NaN,2016-07-15 23:03:23,NaT
6725,6713,City,NaN,No Cars Available,15-07-2016 23:08:14,NaN,2016-07-15 23:08:14,NaT
6726,6715,City,NaN,No Cars Available,15-07-2016 23:11:41,NaN,2016-07-15 23:11:41,NaT
6727,6716,City,NaN,No Cars Available,15-07-2016 23:14:36,NaN,2016-07-15 23:14:36,NaT
6728,6718,Airport,NaN,No Cars Available,15-07-2016 23:14:39,NaN,2016-07-15 23:14:39,NaT
6729,6720,City,NaN,No Cars Available,15-07-2016 23:16:48,NaN,2016-07-15 23:16:48,NaT
6730,6722,Airport,NaN,No Cars Available,15-07-2016 23:18:21,NaN,2016-07-15 23:18:21,NaT
6731,6725,Airport,NaN,No Cars Available,15-07-2016 23:21:53,NaN,2016-07-15 23:21:53,NaT
6732,6728,City,NaN,No Cars Available,15-07-2016 23:26:50,NaN,2016-07-15 23:26:50,NaT
6733,6730,Airport,NaN,No Cars Available,15-07-2016 23:27:55,NaN,2016-07-15 23:27:55,NaT
6734,6732,Airport,NaN,No Cars Available,15-07-2016 23:35:50,NaN,2016-07-15 23:35:50,NaT
6735,6737,Airport,NaN,No Cars Available,15-07-2016 23:39:15,NaN,2016-07-15 23:39:15,NaT
6736,6744,Airport,NaN,No Cars Available,15-07-2016 23:42:51,NaN,2016-07-15 23:42:51,NaT
6737,6740,City,NaN,No Cars Available,15-07-2016 23:43:54,NaN,2016-07-15 23:43:54,NaT
6738,6746,City,NaN,No Cars Available,15-07-2016 23:46:03,NaN,2016-07-15 23:46:03,NaT
6739,6739,City,NaN,No Cars Available,15-07-2016 23:46:20,NaN,2016-07-15 23:46:20,NaT
6740,6745,City,NaN,No Cars Available,15-07-2016 23:49:03,NaN,2016-07-15 23:49:03,NaT
6741,6752,Airport,NaN,No Cars Available,15-07-2016 23:50:05,NaN,2016-07-15 23:50:05,NaT
6742,6751,City,NaN,No Cars Available,15-07-2016 23:52:06,NaN,2016-07-15 23:52:06,NaT
6743,6754,City,NaN,No Cars Available,15-07-2016 23:54:39,NaN,2016-07-15 23:54:39,NaT
6744,6753,Airport,NaN,No Cars Available,15-07-2016 23:55:03,NaN,2016-07-15 23:55:03,NaT